apiVersion: v1
kind: Service
metadata:
  labels:
    app: hello
  name: hello
spec:
  ports:
  - name: 80-8080
    port: 80
    protocol: TCP
    targetPort: http
  selector:
    app: hello
  type: LoadBalancer
